src/main/mule/app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="app-main">
        <http:listener path="/*" config-ref="app-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="app-config"/>
		<error-handler ref="error-handling-apikit" />
    </flow>
    <flow name="get:\ping:app-config">
		<flow-ref doc:name="ping-sub_flow" doc:id="70bff104-e129-472e-b06b-66493a8b8ad3" name="ping-sub_flow"/>
    </flow>
    <flow name="post:\policyCreation:application\json:app-config">
        <flow-ref doc:name="Flow Reference" doc:id="ac3d9de5-2ff9-4cbc-ae56-cf3871f087e9" name="policyCreationSub_Flow"/>
    </flow>
    <flow name="post:\quotationCreation:application\json:app-config">
		<flow-ref doc:name="quoteCreationSub_Flow" doc:id="0bdb9103-b27c-48b2-920c-2fb2ae8d6feb" name="quoteCreationSub_Flow"/>
    </flow>
</mule>
